---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "dmeh.net";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="mt-0">Hi there! I'm David Heimann, a computer programmer in Brooklyn, NY.</p>
  <p>
    This is my corner of the internet. I won't make any promises about what
    you'll find here, but I generally try to make it a place that I would enjoy
    if I stumbled onto it myself. I also find it helpful to use it to clarify my
    own thinking, a sort of map for where I am and where I might be going.
  </p>
  <p>
    I'm currently working on the software team at <a
      href="https://impilo.health"
     >Impilo</a
    >. Before that I co-founded
    <a href="https://brus.ai">Brus</a> and
    <a
      href="https://www.niemanlab.org/2016/03/with-purple-you-can-get-election-updates-and-political-info-via-text/"
     >Purple</a
    >, which we
    <a
      href="https://www.axios.com/theskimm-purple-acquisition-texting-email-52cad29c-5374-46e4-8155-b7410d734bf8.html"
     >sold to theSkimm.</a
    >
  </p>
  <p>
    I like making things with computers. The fact that we have this incredible
    tool at our fingertips, where we can alter the world around us with a few
    keystrokes never ceases to amaze me. Most of all, I like making things that
    help people understand the world around them better, or that helps them make
    things themselves!
  </p>
  <p>
    Recently, I've been working on <a href="https://links.rip"
      >a new kind of bookmarking website</a
    > that works more like fuzzy search on top of a text conversation than a catalogue.
  </p>
  <p>
    You can find me on <a href="https://twitter.com/davidmeh">Twitter</a> and on
    <a href="https://github.com/heimann">Github</a>.
  </p>
</BaseLayout>
