---
const currentPath = Astro.url.pathname;

const { url, title } = Astro.props;

let cleanCurrentPath;

if (currentPath === "/") {
  cleanCurrentPath = "/";
} else {
  cleanCurrentPath = currentPath.replace(/\/$/, "");
}

const className = cleanCurrentPath === url ? "active" : "";
---

<li>
  <a href={url} class={className}>{title}</a>
</li>
