---
const currentPath = Astro.url.pathname;

const { url, title } = Astro.props;

const className = currentPath === url ? "active" : "";
---

<li>
  <a href={url} class={className}>{title}</a><span class="hidden"> - currPath: {currentPath}, url: {
    url
    }</span>
</li>
